* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  margin: 0;
  font-size: 1em;
  font-weight: normal;
  color: black;
  text-decoration: none;
}
